.flex {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
 }
 
.card {
  width: 268px;
  height: 388px;
  margin: 16px;
  perspective: 1000px;
}

.selected {    
    margin-top: -20px;
    margin-bottom: 55px;
}